<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Login Form</title>
    </head>
    
    <body>
        
        <link href="logstyle.css" rel="stylesheet">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/logstyle2.css') }}">
        
       <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Online<span>Notes</span></div>
		</div>
		<br>

		<div class="login">
			<form action="/verify_login" method="POST">
				<input type="text" placeholder="username" name="username"><br>
				<input type="password" placeholder="password" name="password"><br>
				<button type="submit" class="loginButton">Login</button>


				{% if message %}
		 		 <small style = "color:yellow;font-size: 20px;font-weight: bold;padding:60px;">{{message}}</small>
		 		{% else %}
		 		 <br><br><br>
				{% endif %}

				
			</form>
		</div>

    </body>
    
</html>
