<!DOCTYPE html>
<html>
<head>
  <title>My Notes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  <style>
  body {
      position: relative; 
      background: url("https://images.unsplash.com/photo-1510511498717-4326639c999c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a484f5953d02134541096012dcabaf5&auto=format&fit=crop&w=750&q=80");
      background-size: cover;
  }
  #section41 {
      padding-top:50px;
      height:800px;
      color: black; 
      font-family:cursive;
      }
      
       .topnav-right{
          float: right;
          padding-left: 420px;
      }

      table, th, td {
    border: 3px solid black;}
      
  
    </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">NoteIt</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="stu_home.html">HOME</a></li>
            
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PROFILE<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="stu_profile.html">VIEW</a></li>
              <li><a href="stu_pro_upd.html">UPDATE</a></li>
                </ul>
            </li>
            
          <li><a href="upl_notes_list.html">UPLOADED NOTES</a></li>
            
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PERSONALISED NOTES<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="stu_add_note.html">MAKE NOTES</a></li>
              <li><a href="stu_notes_list.html">VIEW NOTES</a></li>
                </ul>
            </li>
            
           <li><a href="first.html">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    

    
<div id="section41" class="container-fluid">
  <h1 style="text-align: center; padding-bottom: 50px;text-shadow: 2px 2px; font-size: 50px;">MY NOTES</h1>
 <div class="container">
   <table style="width:100%">
    <tr>
      <th style="text-align: center;font-weight: bold;font-size: 25px;color: #aeb9bb">SUBJECT</th>
      <th style="text-align: center;font-weight: bold;font-size: 25px;color: #aeb9bb">TITLE</th> 
      <th style="text-align: center;font-weight: bold;font-size: 25px;color: #aeb9bb">NOTES</th> 
    </tr>

    {% for row in snote %}
    <tr>
      <td style="padding:15px;color: white;font-size: 20px">{{row[2]}}</td>
      <td style="padding:15px;color: white;font-size: 20px">{{row[3]}}</td>
      <td style="padding:15px;color: white;font-size: 20px">{{row[4]}}</td>
    </tr>
    {% endfor %}
   </table>
   </div>
</div>
    
    


<script>
$(document).ready(function(){
  // Add scrollspy to <body>
  $('body').scrollspy({target: ".navbar", offset: 50});   

  // Add smooth scrolling on all links inside the navbar
  $("#myNavbar a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }  // End if
  });
});
</script>

</body>
</html>
