<html>
<head>
<title>Teacher Registration Form</title>

<!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/teastyle2.css') }}">-->
     <link href="teastyle.css" rel="stylesheet"> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--script>
$(document).ready(function(){
    $("form").submit(function(){
        alert("Thank you for registering!");
    });
});
</script-->

</head>
 
<body>
<h3>TEACHER REGISTRATION FORM</h3>

 <form action = "/verify_teacher" method = "post">

<table align="center" cellpadding = "10">
 
<tr>
<td>NAME</td>
<td><input type="text" name="TName" maxlength="30" required style="padding: 10px;"/>
(max 30 characters A-Z)
</td>
</tr>
 
<tr>
<td>ID</td>
<td><input type="text" name="ID_no" maxlength="10" size="10" required style="padding: 10px;"/>
</td>
</tr>
 

<tr>
<td>DEPARTMENT</td>
<td><select name="dept" style="padding: 10px;">
  <option value="CSE">Computer Science</option>
  <option value="ISE">Information Science</option>
  <option value="CIVIL">Civil</option>
  <option value="IP">Industrial Production</option>
  <option value="EEE">Electrical and Electronics</option>
  <option value="ECE">Electronics and Communication</option>
  <option value="MECH">Mechanical</option>
</select>
</td>
</tr>
 

<tr>
<td>EMAIL ID</td>
<td><input type="text" name="TEmail_Id" maxlength="100" required style="padding: 10px;"/></td>
</tr>
 

<tr>
<td>MOBILE NUMBER</td>
<td>
<input type="text" name="TMobile_Number" maxlength="10" size="10" required style="padding: 10px;"/>
</td>
</tr>
  
   <tr>
<td>PASSWORD</td>
<td>
 <input type="password" name="tpwd" placeholder="Password" id="password" required style="padding: 10px;">
</td>
</tr>

<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center" style="padding-right: 160px">
<input type="submit" value="Submit" style="padding: 15px 30px;background-color:#709be0;color:#02245b; font-size:17px;font-weight:bold;border-color:#114291;" >
    
<input type="reset" value="Reset" style="padding: 15px 30px;background-color:#709be0;color:#02245b; font-size:17px;font-weight:bold;border-color:#114291;">
</td>
</tr>
  
 
  
</table>
 
</form>
 
</body>
</html>