<html>
<head>
<title>Teacher Registration Form</title>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/teastyle2.css') }}"> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
    $("form").submit(function(){
        alert("Thank for registering!");
    });
});
</script>
</head>
 
<body>
<h3>TEACHER REGISTRATION FORM</h3>

 <form action = "/verify_teacher" method = "post">
  
<table align="center" cellpadding = "10">
 
<tr>
<td>NAME</td>
<td><input type="text" name="TName" maxlength="30" required />
(max 30 characters A-Z)
</td>
</tr>
 
<tr>
<td>ID</td>
<td><input type="text" name="TId" maxlength="10" size="10" required/>
</td>
</tr>
 

<tr>
<td>DEPARTMENT</td>
<td><select name="dept">
  <option value="CSE">Computer Science</option>
  <option value="ISE">Information Science</option>
  <option value="CIVIL">Civil</option>
  <option value="IP">Industrial Production</option>
  <option value="EEE">Electrical and Electronics</option>
  <option value="ECE">Electronics and Communication</option>
  <option value="MECH">Mechanical</option>
</select>
</td>
</tr>
 

<tr>
<td>EMAIL ID</td>
<td><input type="text" name="TEmail_Id" maxlength="100" required/></td>
</tr>
 

<tr>
<td>MOBILE NUMBER</td>
<td>
<input type="text" name="TMobile_Number" maxlength="10" size="10" required/>
(10 digit number)
</td>
</tr>
  
   <tr>
<td>PASSWORD</td>
<td>
 <input type="password" name="tpwd" placeholder="Password" id="password" required>
</td>
</tr>
  
<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
<input type="submit" value="Submit">
<input type="reset" value="Reset">
</td>
</tr>
  
 
  
</table>
 
</form>
 
</body>
</html>