body{
  background: url(https://images.unsplash.com/photo-1440778303588-435521a205bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f69c53990c8beebe8351f97d3c27da61&auto=format&fit=crop&w=750&q=80) no-repeat center center; 
    
    background-size: cover;
}

h3{
    color: #02245b; 
    font-family: 'Bitter', serif; 
    font-size: 40px; 
    font-weight:bold;
    line-height: 54px; 
    margin: 0 0 54px; 
    text-align: center;
    text-shadow: 2px 2px 8px #1b5bc4;
}

table{
  font-family: cursive; 
  color:#02245b; 
  font-size: 18pt; 
  font-style: Arvo;
  font-weight: bold;
  background-color:; 
  border-collapse: collapse; 
}
